.v_account-section {
  background-color: $amazon-blue;
  height: 3rem;
  padding-left: 1rem;
  padding-right: .2rem;
  padding-bottom: .3rem;

  border-left: 1px solid #777;

  display: flex;
  align-items: space-between;
  justify-content: space-between;

  &__button {
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    border: 1px solid $amazon-blue;
    
    &:hover {
      border: 1px solid #777;
    }
  }
  
  &__initial-text {
    color: lightgrey;
    font-size: .8rem;
  }

  &__secondary-text {
    font-size: 1rem;
    font-weight: 500;
  }
}