.v_ad-section {
  background-color: #232f3e;
  height: 4rem;
  font-size: 1.3rem;
  padding-right: .2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  &__initial-text {
    color: white;
  }

  &__secondary-text {
    color: lightblue;
  }
}