body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navigation-bar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.navigation-bar * {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation-bar ul, ol {
  list-style: none;
}