body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation-bar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size: 62.5%;
}

.navigation-bar * {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation-bar ul, ol {
  list-style: none;
}

.arrow-down {
  margin-left: .3rem;
  width: 0; 
  height: 0; 
  border-left: .26rem solid transparent;
  border-right: .26rem solid transparent;
  border-top: .26rem solid #999;
}

.v_overlay {
  position: absolute;
  top: 100%;
  z-index: 80;

  height: 100vh;
  width: 100vw;
  background-color: rgba(black, .4);
}

.v_dropdown {
  background-color: white;

  z-index: 90;
  border: 1px solid rgba(#aaa, .8);
  border-top: none;

  box-shadow: 0px 1px 1px 1px rgba(black, .2);
}