.v_categories-section {
  border-top: 1px solid rgba(black, .17);
  border-bottom: 1px solid rgba(black ,.1);
  padding: 0 1rem;
  background-color: #fafafa;

  &__list {
    display: flex;
    justify-content: space-evenly;
    flex: 1;

    &--item {
      font-size: .75rem;
      padding: .7rem 0;
      border-bottom: 2px solid #fafafa;
      cursor: pointer;

      &:first-of-type {
        font-weight: 500;
        font-size: .8rem;
      }

      &:hover {
        color: $amazon-orange;
        text-decoration-color: $amazon-orange;
        border-bottom: 2px solid $amazon-orange;
      }
    }
  }
}