.v_layout-main {

}
.v_nav-image-container {
  overflow: hidden;
}

.v_nav-image {
  
}

.nav-container {
  display: grid;
  grid-template-columns: 15% 56.5% 28.5%;
  grid-template-rows: 50% 50%;
}

.v_logo-section, .v_search-section, .v_ad-section {
  height: 3.3rem;
}

.v_location-section, .v_links-section, .v_account-section {
  height: 3rem;
}