.v_links-section {
  background-color: $amazon-blue;
  height: 3rem;

  padding-bottom: .3rem;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  
  &__list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    color: lightgrey;
  }
  
  &__item {
    margin-right: 1rem;
    font-weight: 300;
    font-size: .9rem;
    
    font-size: 1.3rem;
    font-weight: 300;

    a {
      color: lightgray;
      text-decoration: none;
    }

    a:hover {
      border-bottom: 1px solid lightgrey;
    }
  }

  &__lang {
    width: 2.9rem;
    height: 2.9rem;
    border: none;
    border-radius: 3px;
    background-color: $amazon-blue;
    border: 1px solid $amazon-blue;
    cursor: pointer;
    padding: .3rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: space-around;
    
    &:hover {
      border: 1px solid #777;
    }
    
    &--bottom {
      margin-top: .1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--text {
      color: lightgrey;
      font-size: .8rem;
    }

    &--image-container {
      
    }

    &--image {
      max-width: 75%;
      max-height: 75%;
    }
  }
}