.v_sidebar-section {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;

  display: flex;
  height: 100vh;
  width: 100vw;
}

.v_sidebar-menu {
  background-color: white;
  width: 25%;
  overflow: scroll;
  
  &__header {
    height: 3rem;
    background-color: #232f3e;

    &--text {
      color: white;
    }
  }
  
  &__list {
    list-style: none;

    &-back {

    }
  }
}

.v_sidebar-section__submenu {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid grey;
  
  &--header {
    color: grey;
    padding-left: 2rem;
  }

  &--item {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    
    &:hover {
      background-color: lightseagreen;
    }
  }
}

.v_sidebar-overlay {
  flex: 1;
  background-color: rgba(black, .8);

  .v_sidebar-overlay__button {
    color: white;
    font-size: 2rem;
    margin: 1rem;
  }
}